---
layout: default
title: Everything you need to know about Bitcoin mining
---

<iframe width="700" height="394" src="https://www.youtube.com/embed/GmOzih6I1zs" frameborder="0" allowfullscreen></iframe>
<p><center><h2><a href="/getting-started/">GETTING STARTED</a> | <a href="/bitcoin-mining-hardware/">BITCOIN MINING HARDWARE</a></h2></center>
{% include ad-page.html %}
<table style="undefined;table-layout: fixed; width: 700px vertical-align="center">
<colgroup>
<col style="width: 120px">
<col style="width: 580px">
</colgroup>
  <tr>
    <td><img src="/images/icons/icon-big-bitcoinfrom.png" alt="where do bitcoins come from" float="center" vertical-align="center"/></th>
    <td><h2>How Bitcoin Mining Works</h2>
    <p>Where do bitcoins come from? With paper money, a government decides when to print and distribute money. Bitcoin doesn't have a central government.
    <p>With Bitcoin, miners use special software to solve math problems and are issued a certain number of bitcoins in exchange. This provides a smart way to issue the currency and also creates an incentive for more people to mine.
    <p>Bitcoin mining is difficult to do profitably but if you try then these are currently the three most popular Bitcoin miners:
    </th>
  </tr>
  <tr>
    <td><img src="/images/icons/icon-big-secure.png" alt="bitcoin is secure" float="left" /></td>
    <td><h2>Bitcoin is Secure</h2>
    <p>Bitcoin miners help keep the Bitcoin network secure by approving transaction. Mining is an important and integral part of Bitcoin that ensures fairness while keeping the Bitcoin network stable, safe and secure.</td>
  </tr>
  <tr>
    <td><img src="/images/icons/icon-big-links.png" alt="bitcoin links" align="left"/></td>
    <td><h2>Links</h2>
    <p><ul><li><a target="_blank" href="https://www.weusecoins.com/">We Use Coins</a> - Learn all about crypto-currency.<br/></li>
<li><a target="_blank" href="http://www.bitcoinmagazine.com/">Bitcoin News</a> - Bitcoin Magazine is one great source for news.<br/></li>
<li><a href="http://www.bitcoin.kn">Bitcoin Knowledge Podcast</a> - Interviews with the top people in the Bitcoin world</li>
</ul>
    </td>
  </tr>
</table>
{% include bitcoin-mining-hardware-comparison.html %}