---
layout: default
title: Getting started with Bitcoin mining
---

<h1>Bitcoin Mining Guide - Getting started with Bitcoin mining</h1>
You will learn (1) how bitcoin mining works, (2) how to start mining bitcoins, (3) what the best bitcoin mining software is, (4) what the best bitcoin mining hardware is, (5) where to find the best bitcoin mining pools and (6) how to optimize your bitcoin earnings.
<p>Bitcoin mining is difficult to do profitably but if you try then this <a href="http://www.runtogold.com/bitcoinminer">Bitcoin miner</a> is probably a good shot.
<iframe width="700" height="394" src="https://www.youtube.com/embed/GmOzih6I1zs" frameborder="0" allowfullscreen></iframe>
<h2>How Bitcoin Mining Works</h2>
<p>Before you start mining Bitcoin, it's useful to understand what Bitcoin mining really means. Bitcoin mining is legal and is accomplished by running SHA256 double round hash verification processes in order to validate Bitcoin transactions and provide the requisite security for the public ledger of the Bitcoin network. The speed at which you mine Bitcoins is measured in hashes per second.

<p>The Bitcoin network compensates Bitcoin miners for their effort by releasing bitcoin to those who contribute the needed computational power. This comes in the form of both newly issued bitcoins and from the transaction fees included in the transactions validated when mining bitcoins. The more computing power you contribute then the greater your share of the reward.

<img src="/images/icons/icon-gs-bitcoin-mining-hardware.png" alt="buy bitcoin mining hardware" align="right"><h2><em><b>Step 1</b> - Get The Best Bitcoin Mining Hardware</em></h2>
<p><strong>Purchasing Bitcoins</strong> - Although it's not yet easy to buy bitcoins, it's getting simpler every day.
<p><center><a href="http://www.jdoqocy.com/8477y1A719PTXZWXRYPRRWWWRTSPRTYZXXRYZZQQQ" target="_blank" onmouseover="window.status='http://www.etoro.com';return true;" onmouseout="window.status=' ';return true;">
<img src="http://www.lduhtrp.net/kj122qmqeki37BDAB5C355AAA576357CDBB5CDD444" alt="eToro - invest in Bitcoin" border="0"/></a></center>
<h2>How To Start Bitcoin Mining</h2>
<p>To begin mining bitcoins, you'll need to acquire bitcoin mining hardware. In the early days of bitcoin, it was possible to mine with your computer CPU or high speed video processor card. Today that's no longer possible. Devices based on custom ASIC chips who's performance offers up to 100x the capability of older systems have come to dominate the industry.
<p>Bitcoin mining with anything less will consume more in electricity than you are likely to earn. It's essential to mine bitcoins with the best bitcoin mining hardware built specifically for that purpose. Several companies such as Avalon offer excellent systems built specifically for bitcoin mining.
{% include bitcoin-mining-hardware-comparison.html %}

<img src="/images/icons/icon-gs-bitcoin-mining-software.png" alt="bitcoin mining software" align="right"><h2><em><b>Step 2</b> - Download Free Bitcoin Mining Software</em></h2>
<p>Once you've received your bitcoin mining hardware, you'll need to download a special program used for Bitcoin mining. There are many programs out there that can be used for Bitcoin mining, but the two most popular are CGminer and BFGminer which are command line programs.
<p>If you prefer the ease of use that comes with a GUI, you might want to try EasyMiner which is a click and go windows/Linux/Android program.</p>
{% include ad-page.html %}
<p>You may want to learn more detailed information on the <a href="/bitcoin-mining-software/">best bitcoin mining software</a>.
<img src="/images/icons/icon-gs-bitcoin-mining-pool.png" alt="bitcoin mining pools" align="right"><h2><em><b>Step 3</b> - Join a Bitcoin Mining Pool</em></h2>
<p>Once you're ready to mine bitcoins then we recommend joining a Bitcoin mining pool like <a href="https://eclipsemc.com/">eclipsemc</a> or Eligius. Bitcoin mining pools are groups of Bitcoin miners working together to solve a block and share in it's rewards. Without a Bitcoin mining pool, you might mine bitcoins for over a year and never earn any bitcoins. It's far more convenient to share the work and split the reward with a much larger group of Bitcoin miners.
<p>For a full list <a href="https://en.bitcoin.it/wiki/Comparison_of_mining_pools">comparing all Bitcoin mining pools</a>.    

<img src="/images/icons/icon-gs-get-a-bitcoin-wallet.png" alt="bitcoin wallet" align="right"><h2><em><b>Step 4</b> - Set Up A Bitcoin Wallet</em></h2>
<p>The next step to mining bitcoins is to set up a Bitcoin wallet or use your existing Bitcoin wallet to receive the Bitcoins you mine. A Bitcoin wallet is like a traditional wallet and can be software, mobile, web-based. <a href="https://www.ledgerwallet.com/r/4727">Bitcoin hardware wallets</a> are also available.
<p>Bitcoins are sent to your Bitcoin wallet by using a unique address that only belongs to you. The most important step in setting up your Bitcoin wallet is securing it from potential threats by enabling two-factor authentication or keeping it on an offline computer that doesn't have access to the Internet. Wallets can be obtained by downloading a software client to your computer.
<p>For help in choosing a Bitcoin wallet then you can <a href="https://www.weusecoins.com/en/getting-started">get started here</a>.
