<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
   if (self === top) {
       var antiClickjack = document.getElementById("antiClickjack");
       antiClickjack.parentNode.removeChild(antiClickjack);
   } else {
       top.location = self.location;
   }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/social-shares.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/recommended-posts.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var bannersConfig = [{
        src:'/images/sponsor/bitmain/bitmain-banner-btcom-728x90.jpg',
        href:'https://goo.gl/jKnMz9',
        alt:'BTC.com',
        title:'BTC.com'
    },{
        src:'/images/sponsor/bitmain/bitmain-banner-btcom-728x90.jpg',
        href:'https://goo.gl/jKnMz9',
        alt:'BTC.com',
        title:'BTC.com'
    },{
        src:'/images/sponsor/bitmain/bitkan-app-728x90-v2.jpg',
        href:'http://bitkan.com/app',
        alt:'BitKan App',
        title:'BitKan App'
    }];

    var randomBanner = bannersConfig[Math.floor(Math.random()*bannersConfig.length)];
    var bannerAnchor = $('#header-banner > a');
    bannerAnchor.attr('href', randomBanner.href);
    bannerAnchor.append('<img src="'+randomBanner.src+'" title="'+randomBanner.title+'" alt="'+randomBanner.alt+'" width="728" height="90" border="0">');
});
</script>